/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2020, 10:56:30 PM
    Author     : savannahmuniz
*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  float: right;
  border: solid black;
  margin-top: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #C5C6C7;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #6e839c;
  color: white;
}
