/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2020, 11:45:29 PM
    Author     : savannahmuniz
*/

* {box-sizing: border-box}

/* Style the tab */
.verticalmenu {
  float: right;
  border: 1px solid #ccc;
  background-color: #333;
  width: 30%;
  height: 280px;
}

/* Style the buttons that are used to open the tab content */
.verticalmenu button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: solid black;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.verticalmenu button:hover {
  background-color: #C5C6C7;
}

/* Create an active/current "tab button" class */
.verticalmenu button.active {
  background-color: #6e839c;
}

/* Style the tab content */
.verticalmenucontent {
  float:left;
  padding-left:30px;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 327px;
  background-color: white;
}

.verticalmenucontent input[type="radio"] {
  opacity: 0;
  
  width: 0;
}

.verticalmenucontent label {
    display: block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    background-color: #ddd;
    padding: 10px 20px;
    margin-bottom: -35px;
    font-family: sans-serif, Arial;
    font-size: 14px;
    border: 2px solid #444;
    border-radius: 4px;
    width:300px;
}

.verticalmenucontent input[type="radio"]:checked + label {
    background-color:#29648A;
    border-color: black;
    color:white;
}

.verticalmenucontent input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.subbutton{
    float:right;
    margin-top:20px;
    width:125px;
    height:30px;
    border-radius: 4px;
}
